body {
margin: 0;
padding: 20px;
font-family: 'Segoe UI', sans-serif;
background: #f5f7fa;
color: #333;
}


button {
    display: flex;
padding: 8px 14px;
border: none;
border-radius: 8px;
background: #4caf50;
color: white;
cursor: pointer;
margin: auto;
margin-bottom: 15px;
font-weight: 500;
transition: 0.2s;
}


button:hover {
background: #388e3c;
}
.button {
    font-size: 17px;
   padding: 15px 30px; 
}


h1 {
text-align: center;
margin-bottom: 30px;
font-size: 2em;
color: #2b3a55;
}


.flexSection {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
margin-bottom: 30px;
}


.section {
    margin-bottom: 25px;
background: #fff;
border-radius: 16px;
box-shadow: 0 6px 20px rgba(0,0,0,0.1);
padding: 20px;
min-width: 300px;
flex: 1 1 320px;
transition: transform 0.2s, box-shadow 0.2s;
}


.section:hover {
box-shadow: 0 10px 24px rgba(4, 197, 10, 0.567);
}


.section h2 {
font-size: 1.3em;
margin-bottom: 15px;
color: #37474f;
display: flex;
align-items: center;
gap: 8px;
}


input, select {
padding: 7px;
margin: 5px 0;
border: 1px solid #ccc;
border-radius: 6px;
width: calc(100% - 14px);
}


table {
width: 100%;
border-collapse: collapse;
margin-top: 10px;
}


th, td {
border: 1px solid #e0e0e0;
padding: 8px;
text-align: center;
}


th {
background: #eaf2f8;
color: #2b3a55;
}


p {
font-weight: bold;
font-size: 16px;
color: #2b3a55;
text-align: center;
}
.balance {
    margin: 0;
    font-size: 30px;
}
.pagination {
    margin: auto;
    display: flex;
    justify-content: center;
}
#pageInfo {
    align-content: center;
}
#nextPage {
    margin-left: 25px;
}
#prevPage {
     margin-right: 25px;
}
.balanceSection {
    display: flex
;
    width: 250px;
    margin: 20px auto;
    /* text-align: center; */
    padding: 10px;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    background-color: #f5f5f5;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 10px 24px rgba(231, 3, 3, 0.567);
}
.finance-sections {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.finance-sections .half {
  flex: 1;
  background: #f5f5f5;
  padding: 15px;
  border-radius: 10px;
}
.removeFullInventoryTable {
    margin-top: 207px;
}
.topButtonContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
